<template name="edit">
    <div class="editer markdown-area edit-page animated fadeInUp">

        <div class="settings">
            <input type="text" class="note-title" id="title" placeholder="Title" value={{title}}>
            <button class="delete-note"><i class="fa fa-trash-o"></i>Discard</button>
            <button class="edit-note"><i class="fa fa-floppy-o"></i>Update</button>
            <!-- <input type="checkbox" id="private"> -->
        </div>
        <section class="editor">
            <i class="fa fa-arrows-alt fullscreen"></i>
            <div class="pane-container">
                <textarea id="content" name="" cols="30" rows="10">{{note}}</textarea>
            </div>
        </section>

        <section class="preview parsed">
            <i class="fa fa-arrows-alt fullscreen"></i>
            <div class="pane-container">
                {{#markdown}}{{session 'content'}}{{/markdown}}
            </div>
        </section>

    </div>
</template>
