body {
    background-color: #F7F7F7;
    color: #616161;
}

h1, h2, h3, h4, h5, h6 {
    color: #525252;
}

.home-link {
    text-decoration: none;
    font-size: 1.25rem;
}

#iron-router-progress {
    background: $brand;
    box-shadow: none;
}
