* {
    box-sizing: border-box;
}
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

html,
body {
    height: 100%;
    font: 1.125em/1.5 'EB Garamond', sans-serif;
}

pre,
code {
    font-size: .75rem;
    font-family: 'Source Code Pro', courier, sans-serif;
}

pre {
    padding: 1rem;
    background: #ECECEC;
}

a {
    color: $brand;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

blockquote {
    font-style: italic;
    background: #E9E9E9;
    padding: .5rem;
    margin-left: 0;
    margin-right: 0;

    p {
        margin: .5rem 0;
    }
}

.markdown-area {
    clear: both;
    height: 100%;
}
.editer {
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

.parsed,
.editor {
    width: 50%;
    float: left;
    height: 100%;
    font-size: 1rem;
    position: relative;
}

.pane-container {
    height: 100%;
    overflow: scroll;
}

.fa.fullscreen {
    display: block;
    color: rgba(0, 0, 0, .125);
    padding: 1rem;
    position: absolute;
    width: 100%;
    background: #F7F7F7;
    top: 0;
    left: 0;
    right: 0;

    &:hover {
        color: #111;;
    }
}

.preview {
    .pane-container {
        padding: 3rem 1rem;
    }

    .fullscreen {
        text-align: right;
    }
}

#content {
    padding: 3rem 1rem;
    height: 100%;
    width: 100%;
    border: none;
    font-family: 'lato', courier;
    border: none;
    outline: none;
    color: #333;
    height: 100%;
    resize: none;
    font-size: 16px;
    line-height: 1.7;
}

[class^="fullscreen-"] {
    .pane-container {
        padding: 2rem;
    }
}

.markdown-area.fullscreen-editor {
    .editor {
        float: none;
        margin: auto;
        width: 60%;
    }
    .preview {
        display: none;
    }
}
.markdown-area.fullscreen-preview {
    .preview {
        float: none;
        margin: auto;
        width: 60%;

        .pane-container {
            padding: 3rem;
        }
    }

    .editor {
        display: none;
    }
}

.alert {
    max-width: 50%;
    margin: auto;
    text-align: center;
    padding: 1rem;
    color: white;
    position: absolute;
    top: 0;
    width: 100%;
    margin: auto;
    text-align: center;
    left: 0;
    right: 0;

    button {
        display: none;
    }

    &.alert-info {
        background: #1F8DD6;
    }
    &.alert-success {
        background: #59CF75;
    }
    &.alert-warning {
        background: #FF7373;
    }
}
.accessDenaid {
    text-align: center;
    height: 90%;

    .four-oh-four {
        background: url('/404.gif') no-repeat;
        background-size: cover;
        background-position: center;
        height: 100%;
        position: relative;

        h2 {
            text-align: center;
            font-size: 2rem;
            color: white;
            font-weight: 700;
            margin-top: 0;
            padding-top: 2rem;
            text-shadow: 0 1px 2px #000;
        }

        h3 {
            position: absolute;
            font-size: 2rem;
            bottom: 2rem;
            width: 100%;
            color: white;
            text-shadow: 0 1px 2px #000;
        }
    }
}
