* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font: 1em/1.5 'Lato', sans-serif;
}

a {
    color: $brand;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.markdown-area {
    clear: both;
    height: 100%;
}
.editer {
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

.parsed,
.editor {
    width: 50%;
    float: left;
    height: 100%;
    font-size: 1rem;
    position: relative;
}

.pane-container {
    height: 100%;
    overflow: scroll;
}

.fa.fullscreen {
    display: block;
    color: rgba(0, 0, 0, .125);
    padding: 1rem;
    position: absolute;
    width: 100%;
    background: #F7F7F7;

    &:hover {
        color: #111;;
    }
}

.preview {
    .pane-container {
        padding: 3rem 1rem;
    }

    .fullscreen {
        text-align: right;
    }
}

#content {
    padding: 3rem 1rem;
    height: 100%;
    width: 100%;
    border: none;
    font-family: 'Source Code Pro', courier;
    border: none;
    outline: none;
    color: #333;
    height: 100%;
    resize: none;
}

[class^="fullscreen-"] {
    .pane-container {
        padding: 2rem;
    }
}

.markdown-area.fullscreen-editor {
    .editor {
        float: none;
        margin: auto;
        width: 60%;
    }
    .preview {
        display: none;
    }
}
.markdown-area.fullscreen-preview {
    .preview {
        float: none;
        margin: auto;
        width: 60%;
    }

    .editor {
        display: none;
    }
}

.alert {
    max-width: 50%;
    margin: auto;
    text-align: center;
    padding: 1rem;
    color: white;
    position: absolute;
    top: 0;
    width: 100%;
    margin: auto;
    text-align: center;
    left: 0;
    right: 0;

    button {
        display: none;
    }

    &.alert-info {
        background: #1F8DD6;
    }
    &.alert-success {
        background: #59CF75;
    }
    &.alert-warning {
        background: #FF7373;
    }
}
