.masthead {
    background-color: white;
    padding: 1.125rem;
    @extend .cf;
}
.home-link {
    float: left;
    line-height: 40px;
}

.menu-btn {
    font-size: 1.5rem;
}

.login {
    text-align: right;
    float: right;

    .logged-in-user {
        display: inline-block;
    }
}

.btn {
    font-size: 16px;
    border: 1px solid $brand;
    font-family: lato, sans-serif;
    background: white;
    color: $brand;
    padding: .25em 1em;
    -webkit-transition: all .25s ease-in-out;

    &:hover {
        background: $brand;
        color: white;
    }

    .fa {
        font-size: 1.125rem;
        margin-right: 10px;
    }
}
