.preview-page {
    width: 60%;
    min-height: 100%;
    margin: auto;
    background: #FDFDFD;
    padding: 0 3rem 2rem;

    .settings {
        text-align: center;
        font-size: 0;

        & > div {
            float: none;
            display: inline-block;
            font-size: 16px;
            min-width: 57px;
        }

        .edit-note {
            .fa {
                background: #1F8DD6;

                &:hover {
                    background: #1E71A8;
                }
            }
        }
        .list-note {
            .fa {
                background: $brand;

                &:hover {
                    background: #f8991e;
                }
            }
        }
    }

    .note-title {
        &,
        & p {
            margin-bottom: 0;
        }
    }

    .date {
        opacity: .5;
    }

    .note-content {
        padding-top: 2rem;
    }

}

