<template name="preview">
    <div class="preview-page animated fadeInUp">
        <div class="settings">
            <div class="list-note">
                <a href="{{pathFor 'notes'}}"><i class="fa fa-list"></i>Notes</a>
            </div>
            <div class="edit-note">
                <a href="{{pathFor 'edit'}}"><i class="fa fa-pencil"></i>Edit</a>
            </div>
        </div>
        <h1 class=note-title>{{#markdown}}{{title}}{{/markdown}}</h1>
        <span class="date">{{format_date date updated}}</span>
        <div class="note-content">
            {{#markdown}}{{note}}{{/markdown}}
        </div>
    </div>
</template>
